@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&display=swap');

body{
    font-family: 'Black Han Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    overflow-x: hidden;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

}
.HeadBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
}
.HeadBtn a{
    font-size: 20px;
}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AboutMe{
    display: flex;
    flex-direction: column;
}

.Icon{
    height: 50vh;
}

.Icon h3{
    font-weight: lighter;
    font-size: 40px;
}

.MainText h2{
    line-height: 40px;
    font-size: 30px;
    font-weight: lighter;
    height: 100vh;
}

.ImageContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ImageContainer img{
    padding-top: 30vh;
    height: 200px;
    max-width: 90%;
    line-height: 100%;
}

.Icon img{
    max-width: 100%;
}

.HeadBtn a{
    text-decoration: none;
    color: black;
}

.Footer{
    margin-top: 100vh;
    font-size: 30px;
    width: 100vw;
    height: 50vh;
}

hr{
    all: none;
    border: 0.05px solid hwb(0 0% 100% / 0.107);
}